* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}
body {
  background: #74d99142;
  width: 100vw;
}
h2,
h4 {
  font-style: italic;
  margin: 20px;
  text-align: center;
}
h2:hover i {
  transition: 1.5s;
  transform: rotate(180deg);
  color: #19e8d7;
}
/* NAVBAR */
#navbar {
  width: 100%;
  height: 10vh;
  background-color: #2c2c2c;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
}
#navbar a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 1.2em;
}
#navbar a:hover {
  text-decoration: underline;
}
/* TERMINAL CIRCLES */
.orange-circle {
  color: #ff831b;
}
.blue-circle {
  color: #74d990;
}
.dark-blue-circle {
  color: #74d9917c;
}
.red-circle {
  color: #ff3042;
}
/* SECTION WITH MY PRESENTATION */
.my-container {
  height: 50vh;
  width: 100%;
  background: #203f4c;
  display: flex;
  align-items: center;
}
.my-container img {
  max-height: 95%;
  scale: 0.5;
  margin-left: 100px;
  border-radius: 5px;
}
.my-container .description {
  color: #f2f2f2;
  font-size: 1.5em;
  margin: 0 200px;
}
.my-container:hover {
  background-image: url("./img/matrix-code.gif");
  background-size: cover;
}
.my-container .description h1 {
  margin-bottom: 5px;
}
.my-container .description h3 {
  font-style: italic;
}
.my-container .description i {
  font-size: 1.2em;
  margin: 10px 0;
}
/* SECTION WITH MY INFO */
.about-container {
  width: 100vw;
  margin: 20px auto;
}
.about-container .about-me {
  font-size: 1.2em;
}
.about-container .about-me p {
  width: 60%;
  margin: 0 auto 15px;
  text-align: justify;
}
.qualities-list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.qualities-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  min-height: 200px;
  width: 250px;
  text-align: center;
  padding: 20px;
  background: #203f4c;
  color: #f2f2f2;
  position: relative;
  border-radius: 5px;
}
.qualities-list li em {
  font-weight: bold;
  font-size: 1.3em;
}
.qualities-list span {
  display: none;
  text-align: justify;
  position: absolute;
  bottom: 40px;
  padding: 5px;
}
.terminal-icons {
  position: absolute;
  bottom: 20px;
}
.qualities-list li:hover {
  cursor: pointer;
}
.qualities-list li:hover .terminal-icons {
  display: none;
}
.qualities-list li:hover span {
  display: inline-block;
}
/* SECTION WITH MY SKILLS */
.skill-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.card {
  display: flex;
  width: 500px;
  background: #203f4c;
  margin: 30px auto;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  color: #f2f2f2;
  font-size: 1.2em;
}
.card figure img {
  max-width: 150px;
  min-width: 100px;
}
.card figcaption {
  text-align: center;
}
.lvl-container {
  margin-left: 100px;
}
.lvl-container .xp-lvl {
  margin-top: 15px;
}
.card:hover {
  cursor: pointer;
}
.card:hover figure img {
  animation-duration: 1.5s;
  animation-name: shake;
}
.card:hover .lvl-container {
  transform: scale(1.1);
}
/* SECTION WITH MY PROJECTS */
.card-blue {
  background-color: #19e8d7;
}
.card-green {
  background-color: #74d990;
}
.card-red {
  background-color: #ff3042;
}
.card-orange {
  background-color: #ff831b;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.projects-container .card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.projects-container .card .description {
  display: none;
}
.projects-container .card .title {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}
.projects-container .card:hover .title,
.projects-container .card:hover .keys {
  display: none;
}
.projects-container .card:hover .description {
  display: inline-block;
  text-align: justify;
}
/* SECTION FOR CONTACT */
.contacts {
  background: #203f4c;
  color: #f2f2f2;
  padding: 20px;
}
.contacts h2:hover i {
  transform: rotate(0deg);
  color: #f2f2f2;
  animation-name: shake;
  animation-duration: 0.3s;
}

.contacts .email-form {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts .email-form p {
  font-size: 1.2em;
}
.contacts .email-form input,
.contacts .email-form textarea {
  width: 50vw;
  height: 50px;
  margin-top: 20px;
  outline: none;
  font-size: 1.2em;
  padding: 10px;
  background: #f2f2f2;
  border: none;
}
.contacts .email-form input::placeholder,
.contacts .email-form textarea::placeholder {
  padding: 10px;
  color: #2c2c2c;
}
.contacts .email-form textarea {
  height: 100px;
}
.contacts .email-form input[type="submit"] {
  width: 250px;
  border-radius: 10px;
  background: #19e8d71e;
  color: #f2f2f2;
  cursor: pointer;
}
.contact-links {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  color: #f2f2f2;
}
.contact-links a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 1.5em;
  margin: 10px;
}
.contact-links a:hover i {
  color: #2c2c2c;
}
.contact-links i {
  color: #f2f2f2;
  font-size: 2em;
  margin-right: 5px;
}
/* IMAGE ANIMATION */
@keyframes shake {
  0% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0);
  }
}
@media (max-width: 600px) {
  body {
    max-width: 100vw;
  }
  /* NAVIGATION BAR */
  #navbar .link {
    font-size: 0.8em;
  }
  /* MY PRESENTATION */
  .my-container {
    position: relative;
  }
  .my-container img {
    max-width: 200px;
    margin: 0;
  }
  .my-container .description {
    margin: 0;
    font-size: 1em;
  }
  .my-container .description h1,
  .my-container .description .icons {
    margin: 15px;
  }
  .my-container .description h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  /* ABOUT ME */
  .about-container .about-me p {
    width: 90%;
    font-size: 1em;
  }
  .qualities-list li {
    margin: 10px auto;
  }
  /* SKILL CARDS */
  .card {
    width: 80vw;
  }
  .card .lvl-container {
    margin-left: 20px;
    font-size: 0.8em;
  }
  .skill-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* project cards */
  .projects-container .card {
    width: 90vw;
    height: 200px;
  }
  /* CONTACT CONTAINER*/

  .contacts .email-form input,
  .contacts .email-form textarea {
    width: 70vw;
  }
  .contact-links a span {
    display: none;
  }
}
